<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>5_Завдання</title>
    <style>
      .boxDecisionDz{
        max-width: 700px;
        margin: 0 auto;
        padding-top: 50px;
      }
      .input{
        width: 350px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header class="header"></header>
      <main class="main">
        <!-- ============================ Завданя============================================ -->
        <div class="txt">
          <a href="index.html" class="link"
            >Завдання_5 (Link_поернення на головну)</a
          >
          <div class="nameLesson">
            Додаток містить масив об’єктів (логін, пароль) --  інсуючі логіни і паролі. 
            Користувач вводить логін і пароль, а програма повідомляє чи може користувач бути 
            авторизованим (чи є він одним з масиву).
          </div>
        </div>

        <!-- ================================ HTML ======================================== -->
        <div class="boxDecisionDz" id="app">
          <div><span>Login:</span><input type="text" v-model="login" class="input"></div>
          <div><span>Password:</span><input type="text" v-model="password" class="input"></div>
          <div><button @click="authorization" class="button">GO</button></div> 
          <div>{{message}}</div>
        </div>
        
        <!-- ================================ Script ======================================== -->
        <script>
        const {createApp} = Vue 
        const passwordAndLoginList = [
          {
            login: 'arnold',
            password: 'schwarzenegger'
          },
          {
            login: 'andrew',
            password: 'jsmaster'
          },
          {
            login: 'julii',
            password: 'mentor'
          },
          {
            login: 'roman',
            password: 'student'
          },
          {
            login: 'hator',
            password: 'starfall'
          },
        ]
        const messageList = [
          'Ви авторизовані',
          'Немає такого користувача'
        ]
        createApp({
          data(){
            return{
              login: null,
              password: null,
              message: null,
            }
          },
          methods:{
            authorization(){
              const searchLogin = passwordAndLoginList.find(
                (el)=>(el.login === this.login && el.password === this.password))
              if (searchLogin){
                this.message = messageList[0]
                this.login = null
                this.password = null
              }
              else {
                this.message = messageList[1]
                this.login = null
                this.password = null
              }
            }
          }
        }).mount('#app')

        
        </script>
      </main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
