//============ home =========
.parent {
    // &__container {
    // }
}
.container {
    &__home-page {
        max-width: 1200px;
        margin: 0 auto;
    }
}
.home-page {
    &__title {
        font-size: 35px;
        margin-bottom: 40px;
        font-weight: 700;
    }

    &__congratulations-text {
        font-size: 25px;
        margin-bottom: 15px;
    }

    &__info {
        font-size: 20px;
        font-weight: 600;
    }
}

//=============== worker-list ============
.parent {
    // &__worker {
    // }
}
.worker {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__container {
        > .container__item-worker:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
.container {
    &__title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    &__item-worker {
        display: flex;
        max-width: 50%;
        justify-content: space-between;
    }
}
.item-worker {
    &__name {
        font-weight: 600;
    }

    &__position {
    }
}

//========= candidate ========
.parent-component {
    // &__candidate {
    // }
}
.candidate {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        > .container__item-candidate:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
.container {
    // &__title {
    // }

    &__item-candidate {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        button {
            font-size: 20px;
            border: 1px black solid;
            border-radius: 5px;
            padding: 5px;
        }
    }
}
.item-candidate {
    &__name {
        font-weight: 600;
    }

    // &__position {
    // }

    // &__button {
    // }

    &__edit {
        margin-right: 10px;
    }

    // &__delete {
    // }
}
//====================== edit-candidate ===============
.parent {
    &__edit {
        .container__candidate-input:first-of-type {
            margin-right: 20px;
        }
        .container__candidate-input:last-of-type {
            margin-bottom: 20px;
        }
    }
}
.edit {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
.container {
    // &__candidate-title {
    // }

    &__candidate-lable {
        font-size: 20px;
        margin-right: 20px;
    }

    &__candidate-input {
        border: 1px black solid;
        border-radius: 5px;
        width: 400px;
    }

    &__candidate-button {
        button {
            border: 1px black solid;
            border-radius: 5px;
            padding: 5px;
        }
        > button:first-child {
            margin-right: 10px;
        }
    }

    &__error {
        font-size: 20px;
        font-weight: 600;
        color: red;
    }
}

//========= interview-creator ======
.interview-component {
    max-width: 1200px;
    margin: 0 auto;
    &__container-creator {
        display: flex;
        column-gap: 50px;
        margin-bottom: 30px;
    }
}
.container-creator {
    &__workers-list {
        display: flex;
        flex-direction: column;

        label {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        input {
        }
    }

    &__candidate-list {
        display: flex;
        flex-direction: column;
        label {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        input {
        }
    }

    &__days-week {
        display: flex;
        flex-direction: column;
        label {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        input {
        }
    }

    &__button {
        border-bottom: 2px black solid;
        padding-bottom: 20px;
        button {
            font-size: 20px;
            font-weight: 400;
            border: 1px black solid;
            border-radius: 5px;
            padding: 5px;
        }
    }

    &__messageError {
        font-size: 20px;
        font-weight: 600;
        color: red;
    }
}

// =========== interview-list =====
.container {
    &__interview-list {
        max-width: 1200px;
        margin: 0 auto;
        > .interview-list__item:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.interview-list {
    &__item {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
    }
}
.item {
    &__name-worker {
    }

    &__name-candidate {
    }

    &__day-name {
    }

    &__button {
    }
}
/// =====  meneger interview ====
.interview-creator {
    margin-bottom: 40px;
    // border-bottom: 2px black solid;
}
.interview-list-manager {
}
