.car {
    &__card {
        max-width: 300px;
        display: flex;
        padding-bottom: 30px;
    }
}
.card {
    &__wraper-img {
        max-width: 50%;

        img {
            max-width: 100%;
        }
    }

    &__wraper-info {
        padding-left: 10px;
    }
}
.wraper-info {
    &__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__type-body {
        margin-bottom: 5px;
    }

    &__price {
        font-size: 25px;
    }
}
