<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>1_Завдання</title>
  <style>
  .boxDicisionDz{
    max-width: 700px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .boxDicisionDz :not(:last-child){
    margin-bottom: 10px;
  }
  .input{
    min-height: 30px;
    border-radius: 10px;
  }
  .button{
    border: 2px black solid;
    padding: 10px;
    border-radius: 10px;
  }
  </style>
  <!-- <script src="js/script.js" defer></script> -->
</head>
<body>
  <div class="wrapper">
    <header class="header"></header>
    <main class="main">

      <!-- ============================ Завданя============================================ -->
      <div class="txt">
        <a href="index.html" class="link">Завдання_1 (Link_поернення на головну)</a>
        <div class="nameLesson">
          <p>
            Вводимо логін і пароль. Якщо логін вірний відображаємо смайл. Якщо ні, то:
          </p> 
          <ul>
            <li>1) якщо логін = Іван – колір повідомлення про помилку синій</li>
            <li>2) якщо хтось інший, то колір повідомлення червоний</li>
          </ul>
        </div>
      </div>
      <!-- ================================ HTML ======================================== -->
      <div class="boxDicisionDz" id="app">
        <div>
          <label for="1">Login</label>
          <input id="1" type="text" v-model.lazy="userLogun" class="input">
        </div>
        <div>
          <label for="2">Password</label>
          <input id="2" type="password" v-model.lazy="userPassword" class="input">
        </div>
        <div>
          <button @click="validOnLogin" class="button">Go</button>
        </div>
        <div>
          <p v-if="isRejectionMessage" :style="{color:isColorMessage}">{{isRejectionMessage}}</p>
          <img v-if="inLoginUser" src="img/smile.png">
        </div>
      </div>
      
      <!-- ================================ Script ======================================== -->
      <script>
        const {createApp} = Vue
        const logiPassnList = [
          {
            login: 'Adam',
            password: '111',
          },
          {
            login: 'Lana',
            password: '222',
          },
          {
            login: 'Liza',
            password: '333',
          },
          {
            login: 'Roman',
            password: '444',
          },
        ]
        createApp({
          data(){
            return{
              userLogun: null,
              userPassword: null,
              inLoginUser: null
            }
          },
          computed:{
            isRejectionMessage(){
              if(this.inLoginUser === false){
                return 'Плмилка! Не вірний логін, або пароль'
              }
              else return null
            },
            isColorMessage(){
              if(this.inLoginUser === false){
                return this.userLogun.toLowerCase() === 'ivan'? 'blue' : 'red'
              }
              else return null
            },
          },
          methods:{
            validOnLogin(){
              const loginIn = this.userLogun.toLowerCase()
              const user = logiPassnList.find(
                ({login,password})=>
              login.toLowerCase() === loginIn && this.userPassword === password
              )
              console.log(user);
              this.inLoginUser = !!user
            }
          }
        }).mount('#app')
      </script>
      
    </main>
    <footer class="footer"></footer>
  </div>
  </div>
</body>
</html>