<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>2_Завдання</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
      .boxDecisionDz {
        max-width: 700px;
        margin: 0 auto;
        padding-top: 50px;
      }
      .businesClass{
        background: url('img/businessClass.jpg') 0 0/cover no-repeat;
        padding: 5px 0 280px;
      }
      .economyClass{
        background: url('img/cloud.JPG') 0 0/cover no-repeat;
        padding: 5px 0 280px;
      }
      .messageNewspaper{
        font-size: 20px;
        color: brown;
      }
      .messageCognac{
        font-size: 20px;
        color: brown;
      }
      .messageForEconomyClass{
        font-size: 20px;
        color: brown;
      }
      .button{
        border: 1px black solid;
        border-radius: 10px;
        padding: 2px;
      }
  </style>
</head>
<body>
  <div class="wrapper">
    <header class="header"></header>
    <main class="main">

      <!-- ============================ Завданя============================================ -->
      <div class="txt">
        <a href="index.html" class="link">Завдання_2 (Link_поернення на головну)</a>
        <div class="nameLesson">
          <div>З випадаючого списку вибираємо клас квитка у літаку. Якщо</div>
          <ul>
            <li>1) бізнес -  виводимо елементи для вибору газети та коньяку (якщо вибрано коньяк, 
              то запропонувати закуску (так/ні)), на фоні зображення бізнес кают</li>
            <li>2) економ – виводимо елементи для вибору типу пива і чипсів, на фоні хмарки.</li>
          </ul>
        </div>
      </div>

      <!-- ================================ HTML ======================================== -->
      <div class="boxDecisionDz" id="app">
        <select name="select" v-model="selectTicket">
          <option value="businesClass">Бізнес-класс</option>
          <option value="economyClass">Економ-клас</option>
        </select>
        <!-- ==== бізнес клас ==== -->
        <template v-if="businesSelectedTicket">
          <div :class="businesSelectedTicket">
            <p>Проплнуємо:</p>
            <label for="1">Газета</label>
            <input id="1" type="radio"  value="newspaper" v-model="menuBusinesClass">
            <br>
            <label for="2">Коньяк</label>
            <input id="2" type="radio"  value="cognac" v-model="menuBusinesClass">
              <!-- ==== Меню бізнескласс ==== -->
            <template v-if="selectNewspaper">
              <p class="messageNewspaper">Нескучного вам перельоту!</p>
            </template>
            <template v-if="selectCognac">
              <p>До коньяку чогось бажаєте?</p>
              <button @click="selectYesAppetizerForCognac" class="button">Так</button>
              <button @click="selectNoAppetizerForCognac" class="button">Ні</button>
              <p class="messageCognac">{{messageForBusinesClass}}</p>
            </template>
          </div>

        </template>
        <!-- === економ клас === -->
        <template v-if="economySelectedTicket">
          <div :class="economySelectedTicket">
            <p>Пропонуємо:</p>
            <ul>
              <li>
                <label for="3">Світле пиво</label>
                <input id="3" type="radio" value="lightBeer" v-model="beerSelectForEconomyClass">
              </li>
              <li>
                <label for="4">Темне пиво</label>
                <input id="4" type="radio" value="darkBeer" v-model="beerSelectForEconomyClass">
              </li>
            </ul>
            <ul>
              <li>
                <label for="3">Чіпси Lays</label>
                <input id="3" type="radio" value="Lays" v-model="chipsSelectForEconomyClass">
              </li>
              <li>
                <label for="4">Чіпси Pringles</label>
                <input id="4" type="radio" value="pringles" v-model="chipsSelectForEconomyClass">
              </li>
              <button @click="selectEconomyClassMenu" class="button">Обрати</button>
              <p class="messageForEconomyClass" > {{messageForEconomyClass}}</p>
            </ul>
          </div>
        </template>

      </div>
      <!-- ================================ Script ======================================== -->
      <script>
        const {createApp} = Vue 
        const classNameList = [
          'businesClass',
          'economyClass'
        ]
        const messageList = [
          'Зараз пренесемо! Смачного!',
          'Приємного вам перельоту',
          'Оберіть собі чогось для смаку'
        ]
        createApp({
          data(){
            return{
              selectTicket: null,
              menuBusinesClass: null,
              messageForBusinesClass: null,
              beerSelectForEconomyClass: null,
              chipsSelectForEconomyClass: null,
              messageForEconomyClass: null
            }
          },
          computed:{
            businesSelectedTicket(){
              if(this.selectTicket === 'businesClass') return classNameList[0]
            },
            economySelectedTicket(){
              if(this.selectTicket === 'economyClass') return classNameList[1]
            },
            selectNewspaper(){
              if(this.menuBusinesClass === 'newspaper') return true
            },
            selectCognac(){
              if(this.menuBusinesClass === 'cognac') return true
            },
          },
          methods:{
            selectYesAppetizerForCognac(){
              this.messageForBusinesClass = messageList[0]
            },
            selectNoAppetizerForCognac(){
              this.messageForBusinesClass = messageList[1]
            },
            selectEconomyClassMenu(){
              if(this.beerSelectForEconomyClass !== null && this.chipsSelectForEconomyClass !== null){
                this.messageForEconomyClass = messageList[1]
              } else this.messageForEconomyClass = messageList[2]
            }
          }
        }).mount('#app')
      </script>
    </main>
    <footer class="footer"></footer>
  </div>
</body>
</html>