<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Document</title>
  <style>
    .color-button-grey{
      background-color: gray;
    }
    .color-button-red{
      background-color: red;
    }
    .color-button-green{
      background-color: green;
    }
    .border-button{
      border: 2px yellow solid;
    }
    .button-shadow{
      box-shadow: yellowgreen;
    }
    .font-red{
      color: red;
    }
    .font-orange{
      color: orange;
    }
  </style>
</head>
<body>
  <div class="wrapper" id="app">
    <span>Price</span>
    <input type="number" v-model="price">
    <span>User money</span>
    <input type="number" v-model="userMoney">
    <button 
    :class="[
    statusColor,
    {
      'border-button': isEliteUser,
      'button-shadow': isSuperEliteUser,
      [txtFont] : isCompleted
    }
    ]"
    >Придбати</button>
  </div>
  <script>
    const {createApp} = Vue 
    createApp({
      data(){
        return{
          price: null,
          userMoney: null,
        }
      },
      computed:{
        isCompleted(){
          return this.price && this.userMoney
        },
        statusColor(){
          let colorClass
          if(!this.isCompleted) colorClass = 'color-button-grey'
          else if(this.price > this.userMoney) colorClass = 'color-button-red'
          else colorClass = 'color-button-green'
          return colorClass
        },
        txtFont(){
          return this.price === this.userMoney? 'font-red' : 'font-orange'
        },
        isEliteUser(){
          return this.price && this.userMoney > 1000
        },
        isSuperEliteUser(){
          return this.price && this.userMoney > 10000
        }
      }
    }).mount('#app')
  </script>
</body>
</html>